body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainContainer {
    width: minmax(1010px, 100%);
    height: 500px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.userInfoContainer {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border: 1px solid black;
}

.square {
    border: black 1px solid;
}

.userSquare {
    background-color: rgb(192, 250, 250);
}

.aiSquare {
    background-color: rgb(80, 80, 240);
}

.aiSquare:hover {
    background-color: brown;
}

.squareHit {
    background-color: rgb(175, 175, 247);
}

.shipSquare {
    background-color: grey;
}

.potentialShip {
    background-color: grey;
}

.successfulHit {
    background-color: red;
}

.axisBtn {
    height: 50px
}

.userInfo {
    font-size: 2rem;
}