body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    width: 500px;
    height: 500px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border: 1px solid black;
}

.square {
    border: black 1px solid;
}

.userSquare {
    background-color: rgb(192, 250, 250);
}

.aiSquare {
    background-color: rgb(80, 80, 240);
}

.shipSquare {
    background-color: grey;
}

.potentialShip {
    background-color: grey;
}