body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: MyFont;
    background-color: rgb(233, 236, 236);
}

@font-face {
    font-family: 'MyFont';
    src: url('./Inter-Medium.ttf') format('openType');
    font-weight: 600;
    font-style: normal;
  }

.mainContainer {
    width: minmax(1010px, 100%);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.leftContainer, .rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h2 {
    margin: 0;
}
.userInfoContainer {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border: 1px solid black;
}

.square {
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.userSquare {
    background-color: rgb(157, 239, 241);
}

.aiSquare {
    background-color: rgb(41, 41, 194);
}

.aiSquare:hover {
    background-color: rgb(0, 255, 76);
}

.squareHit, .squareHit:hover {
    background-color: rgb(175, 175, 247);
}

.shipSquare {
    background-color: grey;
}

.potentialShip {
    background-color: grey;
}

.successfulHit, .successfulHit:hover {
    background-color: red;
}

.userInfo {
    font-size: 2rem;
}

/* buttons */

button  {
    appearance: none;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 2em;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    border: 1px solid;
    color: black;
    background-color: rgb(207, 207, 207);
    height: 50px;
}


button:hover{
    color: rgb(0, 0, 0);
    background-color: grey;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.axisBtn {
    height: 50px
}

.resetBtn {
    font-size: 2rem;
}